.container-fluid
	.row
		.col-md-2
			//Sidebar content

			| Search: <input ng-model="query">
			br
			| Sort by:
			select(ng-model="orderProp")
				option(value="name") Alphabetical
				option(value="age") Newest

		.col-md-10
			//Body content

			ul.phones
				li.thumbnail(ng-repeat="phone in phones | filter:query | orderBy:orderProp")
					a.thumb(href="#/phones/{{phone.id}}")
						img(ng-src="{{phone.imageUrl}}", alt="{{phone.name}}")
					a(href="#/phones/{{phone.id}}") {{phone.name}}
					p {{phone.snippet}}