doctype html
html(lang="en", ng-app="angularApp")
head
	meta(charset="UTF-8")
	meta(name="viewport",
		content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")

	title Angular-0

	link(rel="stylesheet",href="bower_components/bootstrap/dist/css/bootstrap.css")
	link(rel="stylesheet",href="css/app.css")
body
	div(ng-view="")
	script(src="bower_components/jquery/dist/jquery.js")
	script(src="bower_components/angular/angular.js")
	script(src="bower_components/angular-route/angular-route.js")
	script(src="bower_components/angular-resource/angular-resource.js")
	script(src="js/app.min.js")